@charset "utf-8";
/* CSS Document */

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
	background-image: url(../images/turntable1.jpg);
	min-height: 100%;
}

.bgimg-2 {
	background-image: url(../images/vintage-turntables-cover.jpg);
	min-height: 400px;
}

.bgimg-3 {
	background-image: url(../images/1.jpg);
	min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
.text { color: #777;
	background-color:white;
	text-align:center;
	padding:50px 80px;
	text-align: justify;
}
.card.col-md-4.col-lg-12 .card-body .btn.btn-primary {
	background-color: rgba(99,99,99,1.00);
}
.text {
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
	clear: both;
	text-align: justify;
}
ul li {
	list-style-type: none;

}
a {
	color: rgba(120,97,98,1.00);
}
strong ul li a {
	color: rgba(164,110,111,1.00);
}
form {
	padding-left: 20px;
	border-top-left-radius: 0px;
	border-left-color: rgba(83,83,83,1.00);
	border-left-width: 0px;
	border-bottom-color: rgba(35,35,35,1.00);
	border-bottom-width: 1px;
	float: right;
	width: 40%;
	background-color: rgba(255,255,255,1.00);
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin-top: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
	margin-left: 25px;
}
table {

}
.text .img-fluid.rounded-circle {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.text .img-fluid.rounded-circle {
	float: left;
}
.text h3 {
	margin-bottom: 6%;
}
.navbar.fixed-bottom.navbar-expand-lg.navbar-light.bg-light {
	background-color: rgba(255,255,255,1.00);
}
.text .bg-img .submit.text-center {
	border: thin;
}
.left {
	float: left;
	color: #F3F3F3;
	text-align: left;
	font-size: large;
	margin-left: 24px;
	background-color: rgba(104,88,88,0.51);
	margin-top: 24px;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.btn {
	background-color: rgba(111,111,111,1.00);
}
.bg-img .container .btn {
}
.bg-img .container input {
	margin-top: -383px;

}
.bg-img .container input {
	padding-top: 0px;
	background-color: rgba(176,176,176,1.00);
	border: thin solid rgba(131,131,131,1.00);
}
.container input {
	margin-bottom: -205px;
}
.text .bg-img .container {
	float: right;
	bottom: -3px;
	padding-top: 0px;
	padding-bottom: 5px;

}
.left ul li {
	padding-left: 3px;
	padding-right: 4px;
	padding-top: 1px;
}


























/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
input {
	display: block;
	background-color: rgba(255,59,63,1.00);
}

.button {
	color: rgba(255,255,255,1.00);
	background-color: rgba(77,77,77,1.00);
}

}
.button {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: rgba(255,255,255,1);
	background-color: rgba(85,85,85,1);
}

.dropdown:hover .dropdown-menu {
	display: block;
}
.padfooter {
	padding-left: 50px;
	padding-right: 50px;

}
/* Style the container with a rounded border, grey background and some padding and margin */
.testimonial {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

/* Clear floats after containers */
.testimonial::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.testimonial img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Increase the font-size of a span element */
.testimonial span {
  font-size: 20px;
  margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .testimonial{
    text-align: center;
  }

  .testimonial img {
    margin: auto;
    float: none;
    display: block;
  }
}
